<a href="https://colab.research.google.com/github/SpandanM110/Python-and-it-s-Libraries/blob/main/Mission_Coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Hello all! You are all great!

# LIGHTS ON AND OFF.
is_day = False
lights_on = not is_day

print("Daytime?")
print(is_day)

print("Lights on?")
print(lights_on)

Daytime?
False
Lights on?
True

In [ ]:
# KILOMETER CONVERTER
miles = 500
kilometers = miles*1.609344
print(kilometers)

804.672

In [ ]:
# TRACK SALES DATA
stock = 600
jeans_sold = 500
target = 500

target_hit = jeans_sold == target
print("Hit jeans sale target:")
print(target_hit)

current_stock = stock - jeans_sold
in_stock = current_stock != 0
print(in_stock)

Hit jeans sale target:
True
True

In [ ]:
# Location Data
country = "USA"
state = "Florida"
city = "Miami"
continent = "North America"

location = country = state = city = continent
print(location)

North America

In [ ]:
# Doober Fare Calculator
ride_type = "Black"
credits = 4

ride_price = 0
final_price = 0

if ride_type == "DoorberX":
  ride_price = 20.5
elif ride_type == "Black":
  ride_price = 37.9
else:
  ride_price = 18.7

print("Ride price:")
print(ride_price)

if credits > 0:
  final_price = ride_price - credits

print("Final Price")
print(final_price)

Ride price:
37.9
Final Price
33.9

In [ ]:
# USER DATABASE
user_added = True
user = "Becca"

if user_added == False:
  print(f"Adding {user} to database")
  user_added = True
print(f"Database has user: {user}")

Database has user: Becca

In [ ]:
# Collecting Data Points
minimum_points = 100
data_points = 150

if data_points >= minimum_points:
  print("There are enough data points!")
if data_points < minimum_points:
  print("Keep collecting data.")

There are enough data points!

In [ ]:
# Finding Outliners
upper_limit = 91
lower_limit = 24
outliner = False
number = 8

if number > upper_limit:
  outliner = True
if number < lower_limit:
  outliner = True
if outliner == True:
  print(f"{number} is an outliner")

8 is an outliner

In [ ]:
# America's flag   using for loop
for i in range(7):
  print("*************---------")
for i in range(4):
  print("----------------------")

*************---------
*************---------
*************---------
*************---------
*************---------
*************---------
*************---------
----------------------
----------------------
----------------------
----------------------

In [ ]:
# Shipping cost calculator.

total = int(input("Enter the number of goods for shipment\n"))
shipping_cost = 0

if international_shipping:
  shipping_cost += 15
  print(f"International base cost applied is {shipping_cost}")

if total <= 50:
  shipping_cost += 20
  print(f"International base cost applied is {shipping_cost}")
elif total <= 100:
  shipping_cost += 15*50
  print(f"International base cost applied is {shipping_cost}")

else:
  shipping_cost += 5


print(f"Shipping cost: {shipping_cost}")

In [ ]:

# Compound interst calculator
account=int(input("Enter the amount\n"))
interest_rate=int(input("Enter the Interest Rate\n"))/100
years=int(input("Enter the time in years\n"))

print(f"Initial amount: {account}")

counter=1  # Mean for the year time in order to start the while loop from year 1.
while counter <= years:
  accrued_interest = account * interest_rate
  account += accrued_interest
  print(f"year {counter}: {account}")
  counter += 1

Enter the amount
1000000
Enter the Interest Rate
5
Enter the time in years
10
Initial amount: 1000000
year 1: 1050000.0
year 2: 1102500.0
year 3: 1157625.0
year 4: 1215506.25
year 5: 1276281.5625
year 6: 1340095.640625
year 7: 1407100.42265625
year 8: 1477455.4437890626
year 9: 1551328.2159785158
year 10: 1628894.6267774417

In [ ]:
# Coupon generator
site="www.netflix.com"
coupon="signup/coupon"
amount=int(input("Enter the amount of subscription you want. Some of these are 10$, 100$ and 1000$\n"))
if (amount==10) or (amount==100) or (amount==1000):
  if (amount==10):
    discounted_price=amount-(amount)*(2/100)
    print(f"The discounted price will be {discounted_price}\n")
  elif (amount==100):
    discounted_price=amount-(amount)*(10/100)
    print(f"The discounted price will be {discounted_price}\n")
  elif (amount==1000):
    discounted_price=amount-(amount)*(50/100)
    print(f"The discounted price will be {discounted_price}\n")
else:
  print("Invalid Input")
for i in range(1):
  print(f"{site}/{amount}/{coupon} making your subsciption soon just chill buddy")

In [ ]:
# Simple Interest Calculator
p=int(input("Enter the principal amount\n"))
r=int(input("Enter the interest rate\n"))
t=int(input("Enter the time in years\n"))

SI=(p*r*t)/100
print(f"The simple interest is {SI}\n")
amount=p+SI
print(f"The total amount to be paid with principal amount {p} with simple interest of {SI} in a time of {t}years is clearly {amount}")

Enter the principal amount
100000
Enter the interest rate
3
Enter the time in years
2
The simple interest is 6000.0

The total amount to be paid with principal amount 100000 with simple interest of 6000.0 in a time of 2years is clearly 106000.0

In [ ]:
# List example practice
jarvis=["Hello",3000,"Ironman","jarvis","Friday"]
print(jarvis[0])     # To find out the information 

jarvis[3]="Pepper Pots"   # Over writing over the previous list on index 3
print(jarvis)

jarvis.append("100 kills")
print(jarvis)

Hello
['Hello', 3000, 'Ironman', 'Pepper Pots', 'Friday']
['Hello', 3000, 'Ironman', 'Pepper Pots', 'Friday', '100 kills']

In [ ]:
# New product Rating
# Here's a peak. We'll create lists for the yogurt flavors,consumer ratings and results, and then display them.

flavors = ["cinnamon","pumkin","apple pie"]
print("New flavors")
print(flavors)

ratings = [4, 2.5, 3]
print("Consumer ratings:")
print(ratings)

passed=[True, False, True]
print("Release:")
print(passed)

In [ ]:
# Stocks Tracker
# We will store the latest, highest and lowest values in a list and then update with the new values are recorded.

apple_stocks = [298.18, 304.18, 289.23]
apple_stocks[0] = 310
print("latest value")
print(apple_stocks[0]) 

apple_stocks[1]=310
print("highest value:")
print(apple_stocks[1])

print("lowest value:")
print(apple_stocks[2])

latest value
310
highest value:
310
lowest value:
289.23
[310, 310, 289.23]

In [ ]:
# Highest Score
# Let's create some code thatr helps an arcade machine find the highest score from a list of scores without the help max()
# We will use list,for loop, and comparison to go through the scores and check if one score is higher than the last.
# We will first store the value in a list in a variable then loop through the list and update the new variable if we finda a bigger value.

user_scores = [12,42,55,100,11,22]
highest = user_scores[0]

for score in user_scores:
  if score > highest:
    highest = score

print(f"Highest score: {highest}")

Highest score: 100

In [ ]:
# Humidity control
# In order to manage soil humidity data from a greenhouse monitor. We will use the list to track at over five days.

humidity_level=[87, 83, 89, 87]
humidity_level.insert(0, 90)
humidity_level.pop()

print(humidity_level)

[90, 87, 83, 89]

In [ ]:
# Customer Service
# Let's use our lists skills to sort a list of customers and assign them to the first available customer.

customers = ["Filip","Miranda","Ariah","Laurence","Shahid"]
free_counters = [11,20,14,6,4]
customers.sort()
free_counters.sort()

customer = customers[0]
counter = free_counters[0]

print(customer)
print(f"Visit counter: {counter}")

Ariah
Visit counter: 4

In [ ]:
# Lake Size Comparison
# Let's use our knowledge of lists to analyze an unsorted dataset of the ten largest lakes in the United States.

# We will use max() and min() to find the dataset's largest and smallest values. Then , we will display the difference.

sizes = [7320, 2117, 22300, 31700, 1679, 1014, 23000, 9910, 685]
largest = max(sizes)
print("Largest lake in sq mi: ")
print(largest)
smallest = min(sizes)
print("10th largest lake in sq mi:")
print(smallest)
difference = largest - smallest

print(f"Difference between lakes in sq mi: {difference}")

Largest lake in sq mi:
31700
10th largest lake in sq mi:
685
Difference between lakes in sq mi: 31015

In [ ]:
# Team Size Checker
# WE Will store the two teams in a list, check if they have the same length then display the rounds left based on the length.

team_1 = ["Mia", "Lisa", "Liam"]
team_2 = ["James", "Ty", "Ava"]

size_1 = len(team_1)
size_2 = len(team_2)

if size_1 != size_2:
  print("Teams must have the same size!")
else:
  print("Game on!")

if size_1 == 3:
  print("Rounds left: 3")
elif size_1 == 2:
  print("Rounds left: 2")
else:
  print("Final Round!")

Game on!
Rounds left: 3

In [ ]:
# Product Ratings Analysis
# We will count how many one and five star ratings there are in a list and display the results.

ratings = [5, 5, 3, 1, 1, 1, 4, 5, 3, 5]
five_star = ratings.count(5)
one_star = ratings.count(1)

amounts = [five_star, one_star]
print("Five star ratings:")
print(amounts[0])

print("One star ratings:")
print(amounts[1])

Five star ratings:
4
One star ratings:
3

In [ ]:
# Stock Calculator
# Using the knowledge of F-strings to code a program that tracks an online store's orders and stocks.
stock = 74
item = "webcams"
orders = 18

print(f"{stock} {item} in stock")


print(f"{orders} customer orders")


print(f"{stock-orders} available")

74 webcams in stock
18 customer orders
56 available

In [ ]:
# Game Data
# Using F strings to keep track of two players and the data they generate during a round based game.
player_1 = "Sam"
player_2 = "Alex"
current_round = 1
print("Game On!")
print(f"player 1: {player_1}")
print(f"player 2: {player_2}")
print("---------------------")
print(f"Round {current_round}!")
player_1_score = 10
player_2_score = 13
print(f"{player_2} wins with {player_2_score} to {player_1_score}")
print("------------------------")

Game On!
player 1: Sam
player 2: Alex
---------------------
Round 1!
Alex wins with 13 to 10
------------------------

In [ ]:
# Membership Processor
# A club has a membership sign-up form where the data arrives as strings. Let's change types to fix it.

name_box = "Alice Bentall"
age_box = "20"
uni_box = ""
subs_box = "1.99"
mkt_box = "0"

name_entered = bool(name_box)
if name_entered:
  name = name_box
else:
  name = "Unknown"

age = int(age_box)
student = bool(uni_box)
subscription = float(subs_box)
marketing = bool(int(mkt_box))

profile = name + ',' + str(age)
print(profile)

Alice Bentall,20

In [ ]:
# Morse Encoder
# Project to convert set of numbers to morse code.

def convert_to_morse(code):

  code = code.replace("1", ".----")
  code = code.replace("2", "..---")
  code = code.replace("3", "...--")
  code = code.replace("4", "....-")
  code = code.replace("5", ".....")
  code = code.replace("6", "-....")
  code = code.replace("7", "--...")
  code = code.replace("8", "---..")
  code = code.replace("9", ".----.")
  code = code.replace("0", "-----")

  return code

lock_code = (input("Enter a number\n") )
morse = convert_to_morse(lock_code)
print(f"lock code:{lock_code}\n morse code:{morse} ")

Enter a number
12250
lock code:12250
 morse code:.----..---..---.....-----

In [ ]:
# Fare Split Calculator
# Using the multiple parameters of a function that splits a Doober fare between several passengers

def split_fare(fare, passengers, feature_cost):

  share = fare/passengers
  print(f"Splitting the ${fare} fare between {passengers} passengers....")

  shared_cost = share + feature_cost
  print(f"Adding a $ {feature_cost} feature cost...")
  return shared_cost

fare_cost = int(input("Enter the fare cost\n"))
passengers = int(input("Enter the number of passengers\n"))
feature_cost = int(input("Enter the feature cost\n"))

shared_cost = split_fare(fare_cost, passengers, feature_cost)
print(f"Each pay: ${shared_cost}")

Enter the fare cost
222
Enter the number of passengers
2
Enter the feature cost
2
Splitting the $222 fare between 2 passengers....
Adding a $ 2 feature cost...
Each pay: $113.0

In [ ]:
# Calculator
def calculator(num_1, num_2, op):
  result = 0

  if op == "+":
    result = num_1 + num_2
  elif op == "-":
    result = num_1 - num_2
  elif op == "*":
    result = num_1 * num_2
  print(f"{num_1} {op} {num_2} = {result}")

calculator(5, 10, "*")

5 * 10 = 50

In [ ]:
# Classes Scheduler
def schedule_classes(classes, times):
  schedule = []

  index = 0
  while index < len(classes):
    scheduled_class = classes[index] + ": " + times[index]
    schedule.append(scheduled_class)
    index += 1

  return schedule

classes = ["Algerbra", "History", "Biology", "Swimming"]
times = ["9am", "11am", "1pm", "3pm"]
schedule = schedule_classes(classes, times)
print(f"Monday's Schedule: {schedule}")

Monday's Schedule: ['Algerbra: 9am', 'History: 11am', 'Biology: 1pm', 'Swimming: 3pm']

In [ ]:
# Piggy Bank
class Piggy:
  value=0
  def addMoney(self, amount):
    self.value = self.value + amount

myPiggy = Piggy()
myPiggy.addMoney(100)

print(myPiggy.value)

100